
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no minimal-ui">
 
	  <header>
		  <ul class="transaction-header">
			<li>
				<div class ="title">Scanner</div>
			</li>
	     </ul>
		
	  </header>
 	<div class="scanner-div">
 <ul class="scan">
 <li><label class="tlabel">Select your Transaction:</label>
 <input type="file" name="upload" size="70"></li>


 
 </ul>
	
 	</div>
     

  